{% extends 'Layout/IndexLayout.html' %}

{% block pagetitle %}Index {% endblock %}

{% block sidabartitlelink %}"/"{% endblock %}
{% block SideBarTitle %}Index{% endblock %}

{% block titlelink %}"/"{% endblock %}
{% block maintitle %}Index{% endblock %}

{% block LOGIN %}
{#    <li><a href="/login">{{ login }}</a></li>#}
{% endblock %}


{% block ListItems %}
{#    <li><a href="/">Home</a></li>#}
{#    <li><a href="/register">Register</a></li>#}
{#    <li><a href="/init_db">Init DB</a></li>#}
{% endblock %}

{% block avatar %}
    {{ 'hose.cuervo@gmail.com' | gravatar }}
{% endblock %}

{% block body %}


{% endblock %}